.idea
.idea/gradle.xml
.DS_Store
node_modules
.turbo
*.log
dist
dist-ssr
*.local
.env
.cache
server/dist
public/dist
.pnpm-store

# React Router
**/.react-router/
**/build/

coverage/
*.tsbuildinfo
.nyc_output/
uploads/
tmp/

# Docusaurus
.docusaurus
.cache-loader
